<div class="container">
    <div class="get-in-touch">
        <p class="form-title">{{labels.getInTouchFormLabel}}</p>
        <div class="get-in-touch-forms">
            <div class="name">
                <p>{{labels.getInTouchNameLabel}}</p>
                <input/>
            </div>
            <div class="email">
                <p>{{labels.getInTouchEmailLabel}}</p>
                <input/>
            </div>
            <div class="message">
                <p>{{labels.getInTouchMessageLabel}}</p>
                <input/>
            </div>
        </div>
        <div class="button">
            <button
            class="btn"
            mat-button
            ><span>{{labels.getInTouchButtonLabel}}</span></button>
        </div>
    </div>
    <div class="twitter-updates">
        <p class="form-title">{{labels.socialUpdatesFormLabel}}</p>
        <div class="post">
            <div class="link-1">
                <p class="link-name">Devil May Cry 5</p>
                <a href="#">http://goo.gl/ejVm</a>
                <p class="posted">{{labels.socialUpdatesWasSendLabel}}</p>
            </div>
            <hr class="divider">
            <div class="link-2">
                <p class="link-name">Dead or Alive 6 Special Edition</p>
                <a href="#">http://goo.gl/ejVm</a>
                <p class="posted">{{labels.socialUpdatesWasSendLabel}}</p>
            </div>
            <hr class="divider">
            <div class="link-3">
                <p class="link-name">Resident Evil 2 Deluxe Edition</p>
                <a href="#">http://goo.gl/ejVm</a>
                <p class="posted">{{labels.socialUpdatesWasSendLabel}}</p>
            </div>
        </div>
        <div class="button">
            <button
            class="btn"
            mat-button
            ><span>{{labels.socialUpdatesButtonLabel}}</span></button>
        </div>
    </div>
    <div class="from-the-blog">
        <p class="form-title">{{labels.blogFormLabel}}</p>
        <div class="blog-news">
            <div class="news-1">
                <p>Proin commodo sodales arcu, a volupat.<br/>
                    Nulla convallis. <span><a href="#">{{labels.blogLinkMoreLabels}}</a></span></p>
            </div>
            <hr class="divider">
            <div class="news-2">
                <p>Proin commodo sodales arcu, a volupat.<br/> 
                    Nulla convallis. <span><a href="#">{{labels.blogLinkMoreLabels}}</a></span></p>
            </div>
            <hr class="divider">
            <div class="news-3">
                <p>Curabitur a aliquet turpis, sagittis eleifend<br/>
                    sem. <span><a href="#">{{labels.blogLinkMoreLabels}}</a></span></p>
            </div>
            <hr class="divider">
            <div class="news-4">
                <p>Nam pellentesque finibus felis eget<br/>
                    feugiat. Nulla a nisl non veh. <span><a href="#">{{labels.blogLinkMoreLabels}}</a></span></p>
            </div>
        </div>
        <div class="button">
            <button
            class="btn"
            mat-button
            ><span>{{labels.blogButtonLabel}}</span></button>
        </div>
    </div>
</div>
