<div class="container">
  <div class="main-body"> 
    <p class="title">{{labels.mainPageBodyTitle}}</p>
    <p class="body-text">{{labels.mainPageBodyBannerText}}.</p>
      <ul>
        <li>{{labels.mainPageListElements}}</li>
        <li>{{labels.mainPageListElements}}</li>
        <li>{{labels.mainPageListElements}}</li>
      </ul>
      <div class="button">
        <button
        class="btn"
        mat-button
        ><span>{{labels.mainPageLearnButtonLabel}}</span></button>
      </div>
  </div>
  <div class="banner-main">
    <p class="title">{{labels.mainPagebannerTitle}}</p>
    <div class="banner-picture">
      <div class="link">
        <a href="#">Sony<br>
          Playstation VR <img src="../../../assets/images/Arrow.svg"/></a>
      </div>
    </div>
  </div>
</div>