<footer>
    <div class="footer-navigation">
        <div class="site-links">
            <p>{{labels.footerLinksLabel}}</p>
            <ul>
                <li><a routerLink="{{ links.get(pageRoutes.Games) }}"
                    >{{labels.gamesMenuItem}}</a></li>
                <li><a routerLink="{{ links.get(pageRoutes.Genres) }}"
                    >{{labels.genresMenuItem}}</a></li>
                <li><a routerLink="{{ links.get(pageRoutes.Publishers) }}"
                    >{{labels.publishersMenuItem}}</a></li>
                <li><a routerLink="{{ links.get(pageRoutes.Orders) }}"
                    >{{labels.ordersMenuItem}}</a></li>
                <li><a routerLink="{{ links.get(pageRoutes.Basket) }}"
                    >{{labels.basketMenuItem}}</a></li>
            </ul>
        </div>
        <div class="company-information">
            <p>{{labels.footerInformationLabel}}</p>
            <ul>
                <li><a href="#">{{labels.footerAboutLabel}}</a></li>
                <li><a href="#">{{labels.footerAwardsLabel}}</a></li>
                <li><a href="#">{{labels.footerReviewsLabel}}</a></li>
                <li><a href="#">{{labels.footerTestimonialLabel}}</a></li>
                <li><a href="#">{{labels.footerContactLabel}}</a></li>
            </ul>
        </div>
        <div class="social-media">
            <p>{{labels.footerMediaLabel}}</p>
            <ul>
                <li><a href="#"><img src="../../../assets/images/Social Media/twitter-svgrepo-com.svg"/></a></li>
                <li><a href="#"><img src="../../../assets/images/Social Media/facebook-svgrepo-com.svg"/></a></li>
                <li><a href="#"><img src="../../../assets/images/Social Media/email-svgrepo-com.svg"/></a></li>
                <li><a href="#"><img src="../../../assets/images/Social Media/instagram-logo-svgrepo-com.svg"/></a></li>
                <li><a href="#"><img src="../../../assets/images/Social Media/google-plus-logo-symbol-svgrepo-com.svg"/></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-botton">
        <p>&copy; 2007 - 2019 {{labels.footerRightsLabel}}</p>
    </div>
</footer>
