CREATE DATABASE StorefyDb
GO
USE [StorefyDb]
GO
/****** Object:  Table [dbo].[BanHistories]    Script Date: 17.04.2024 17:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanHistories](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[BanStarted] [datetime2](7) NOT NULL,
	[BanEnds] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BanHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[CommentAdded] [datetime2](7) NOT NULL,
	[CommentId] [nvarchar](450) NULL,
	[GameId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameGenre]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameGenre](
	[GamesId] [nvarchar](450) NOT NULL,
	[GenresId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_GameGenre] PRIMARY KEY CLUSTERED 
(
	[GamesId] ASC,
	[GenresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamePlatform]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePlatform](
	[GamesId] [nvarchar](450) NOT NULL,
	[PlatformsId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_GamePlatform] PRIMARY KEY CLUSTERED 
(
	[GamesId] ASC,
	[PlatformsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [nvarchar](450) NOT NULL,
	[GameId] [nvarchar](max) NULL,
	[Key] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PublisherId] [nvarchar](450) NULL,
	[QuantityPerUnit] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[UnitInStock] [int] NOT NULL,
	[UnitsOnOrder] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[Discontinued] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CopyType] [nvarchar](max) NULL,
	[ReleasedDate] [nvarchar](max) NULL,
	[GameSize] [float] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Discount] [float] NOT NULL,
	[DateAdded] [datetime2](7) NOT NULL,
	[ViewCount] [int] NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameTranslations]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameTranslations](
	[Id] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CopyType] [nvarchar](max) NOT NULL,
	[ReleasedDate] [nvarchar](max) NOT NULL,
	[LanguageId] [nvarchar](450) NOT NULL,
	[GameId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_GameTranslations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [nvarchar](450) NOT NULL,
	[CategoryId] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ParentGenreId] [nvarchar](450) NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [nvarchar](max) NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenreTranslations]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreTranslations](
	[Id] [nvarchar](450) NOT NULL,
	[LanguageId] [nvarchar](450) NOT NULL,
	[GenreId] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GenreTranslations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [nvarchar](450) NOT NULL,
	[LanguageCode] [nvarchar](max) NOT NULL,
	[LanguageName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [nvarchar](450) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [nvarchar](450) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [float] NOT NULL,
	[OrderId1] [nvarchar](450) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [nvarchar](450) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CustomerId] [nvarchar](max) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[RequiredDate] [datetime2](7) NULL,
	[ShippedDate] [datetime2](7) NULL,
	[ShipVia] [int] NULL,
	[Freight] [float] NULL,
	[ShipName] [nvarchar](max) NULL,
	[ShipAddress] [nvarchar](max) NULL,
	[ShipCity] [nvarchar](max) NULL,
	[ShipRegion] [nvarchar](max) NULL,
	[ShipPostalCode] [nvarchar](max) NULL,
	[ShipCountry] [nvarchar](max) NULL,
	[PaidDate] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[Sum] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[Id] [nvarchar](450) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platforms]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platforms](
	[Id] [nvarchar](450) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Platforms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatformTranslations]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformTranslations](
	[Id] [nvarchar](450) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[LanguageId] [nvarchar](450) NOT NULL,
	[PlatformId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_PlatformTranslations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Id] [nvarchar](450) NOT NULL,
	[SupplierId] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NOT NULL,
	[ContactName] [nvarchar](max) NULL,
	[ContactTitle] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[HomePage] [nvarchar](max) NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [nvarchar](450) NOT NULL,
	[PermissionId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUser]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUser](
	[RolesId] [nvarchar](450) NOT NULL,
	[UsersId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_RoleUser] PRIMARY KEY CLUSTERED 
(
	[RolesId] ASC,
	[UsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.04.2024 17:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Comments] ([Id], [Name], [Body], [CommentAdded], [CommentId], [GameId]) VALUES (N'581a1d71-f1d3-4e2c-9a30-17792bc2ba25', N'User100', N'Супер гра!', CAST(N'2024-04-12T14:49:53.9150978' AS DateTime2), NULL, N'f8116d7a-42f5-423c-bd96-83ec3fc37852')
INSERT [dbo].[Comments] ([Id], [Name], [Body], [CommentAdded], [CommentId], [GameId]) VALUES (N'9f9e5f6c-e3fc-428b-aa59-023abb32e8ca', N'John Doe', N'If you took Torchlight, mixed in a heaping helping of Norse mythology, and topped it off with the looming apocalypse countdown from The Legend of Zelda: Majora''s Mask, you''d have something that looks a fair bit like Tribes of Midgard.', CAST(N'2024-04-12T13:27:13.9545346' AS DateTime2), NULL, N'f8116d7a-42f5-423c-bd96-83ec3fc37852')
GO
INSERT [dbo].[GameGenre] ([GamesId], [GenresId]) VALUES (N'716ac64b-eee0-4fb0-82ee-f7ce8660cf03', N'0b6d4c0d-cb2c-4b42-8dea-b0d088cef800')
INSERT [dbo].[GameGenre] ([GamesId], [GenresId]) VALUES (N'cc1431f5-e0c9-4fea-b2c6-c1894359f109', N'0b6d4c0d-cb2c-4b42-8dea-b0d088cef800')
INSERT [dbo].[GameGenre] ([GamesId], [GenresId]) VALUES (N'05bb964f-58d8-401b-9b73-8f673848dac8', N'1f795977-a444-4b54-a7f2-ce29d29e33dc')
GO
INSERT [dbo].[GamePlatform] ([GamesId], [PlatformsId]) VALUES (N'05bb964f-58d8-401b-9b73-8f673848dac8', N'7a4a8f4e-93dd-4516-95d2-06f6115ecada')
INSERT [dbo].[GamePlatform] ([GamesId], [PlatformsId]) VALUES (N'1ca022b0-a985-409c-a547-908adf73254f', N'7a4a8f4e-93dd-4516-95d2-06f6115ecada')
INSERT [dbo].[GamePlatform] ([GamesId], [PlatformsId]) VALUES (N'bc9a3d1b-4956-446b-bdc1-e514ef81d974', N'7a4a8f4e-93dd-4516-95d2-06f6115ecada')
GO
INSERT [dbo].[Genres] ([Id], [CategoryId], [Name], [ParentGenreId], [Description], [Picture]) VALUES (N'0b6d4c0d-cb2c-4b42-8dea-b0d088cef800', NULL, N'Arcade', N'cd5375a8-74ac-11ee-b962-0242ac120002', NULL, NULL)
INSERT [dbo].[Genres] ([Id], [CategoryId], [Name], [ParentGenreId], [Description], [Picture]) VALUES (N'1f795977-a444-4b54-a7f2-ce29d29e33dc', NULL, N'Adventure', NULL, NULL, NULL)
INSERT [dbo].[Genres] ([Id], [CategoryId], [Name], [ParentGenreId], [Description], [Picture]) VALUES (N'2aa64dbc-a063-4481-b225-7d2f3c35968b', NULL, N'FPS', N'cd5376d4-74ac-11ee-b962-0242ac120002', NULL, NULL)
GO
INSERT [dbo].[GenreTranslations] ([Id], [LanguageId], [GenreId], [Name]) VALUES (N'1ea30bd8-bf8c-453d-92fb-4cbf6b865625', N'fb01f8b4-a73c-4841-a951-a57cce44dee5', N'cd5376d4-74ac-11ee-b962-0242ac120002', N'Екшн')
INSERT [dbo].[GenreTranslations] ([Id], [LanguageId], [GenreId], [Name]) VALUES (N'20183914-aef7-4d67-901a-84941eb6861f', N'fb01f8b4-a73c-4841-a951-a57cce44dee5', N'cd5370e4-74ac-11ee-b962-0242ac120002', N'Рольова гра')
INSERT [dbo].[GenreTranslations] ([Id], [LanguageId], [GenreId], [Name]) VALUES (N'4445d792-cec0-4593-8fc7-58f36c0b056f', N'fb01f8b4-a73c-4841-a951-a57cce44dee5', N'b6c758b4-c670-4c8f-8a8f-d545ad5a199d', N'Ралі')
GO
INSERT [dbo].[Languages] ([Id], [LanguageCode], [LanguageName]) VALUES (N'5444e9e3-25ef-4374-bbc0-68dcb63c9ec8', N'en', N'English')
INSERT [dbo].[Languages] ([Id], [LanguageCode], [LanguageName]) VALUES (N'fb01f8b4-a73c-4841-a951-a57cce44dee5', N'ua', N'Ukrainian')
GO
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [ProductName], [CreationDate], [Price], [Quantity], [Discount], [OrderId1]) VALUES (N'4abb78c4-d6be-4bc6-b0dd-af65fb2b38db', 0, N'f8116d7a-42f5-423c-bd96-83ec3fc37852', N'Tribes of Midgard', CAST(N'2024-04-11T23:19:35.7445658' AS DateTime2), CAST(12.00 AS Decimal(18, 2)), 1, 0, NULL)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [ProductName], [CreationDate], [Price], [Quantity], [Discount], [OrderId1]) VALUES (N'a515dde6-ee0a-48bd-8b42-fec1f338a014', 0, N'f8116d7a-42f5-423c-bd96-83ec3fc37852', N'Tribes of Midgard', CAST(N'2024-04-11T23:24:11.1421550' AS DateTime2), CAST(12.00 AS Decimal(18, 2)), 1, 0, N'5f9ca6db-446f-442f-9f66-74677f2f8a06')
GO
INSERT [dbo].[Orders] ([Id], [OrderId], [CustomerId], [EmployeeId], [OrderDate], [RequiredDate], [ShippedDate], [ShipVia], [Freight], [ShipName], [ShipAddress], [ShipCity], [ShipRegion], [ShipPostalCode], [ShipCountry], [PaidDate], [Status], [Sum]) VALUES (N'5f9ca6db-446f-442f-9f66-74677f2f8a06', 0, N'3fa85f64-5717-4562-b3fc-2c963f66afa6', 0, CAST(N'2024-04-11T23:19:35.7039037' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2024-04-11T23:25:36.0367249' AS DateTime2), 2, CAST(12.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[PaymentMethods] ([Id], [ImageUrl], [Title], [Description]) VALUES (N'243cc2d0-3822-4a92-9e43-f39336bf1977', N'https://d2csxpduxe849s.cloudfront.net/media/F44207E3-1DDE-4798-B0FCC94F6227FCB7/FD889B2B-B4FE-445C-97A356E3955CC1CC/webimage-ED81074F-347A-430E-AC7CC0A3429D9570.jpg', N'Visa', N'Payment through Visa system.')
INSERT [dbo].[PaymentMethods] ([Id], [ImageUrl], [Title], [Description]) VALUES (N'403dd0e2-51a5-42ef-96a4-885e9fa4adbf', N'https://nuvei.com/wp-content/uploads/2021/06/regular-bank-transfer.png', N'Bank', N'Payment through bank. Generating invoice file')
INSERT [dbo].[PaymentMethods] ([Id], [ImageUrl], [Title], [Description]) VALUES (N'8d2f15e4-02ac-469f-86c6-bd3a1cdeb82e', N'https://campus.rv.ua/sites/default/files/news-images/ibox_terminal.png', N'IBox terminal', N'Payment through IBox terminal.')
GO
INSERT [dbo].[Permissions] ([Id], [Name]) VALUES (N'32988a76-aaed-451e-85d4-069aeb1cf374', N'Games')
INSERT [dbo].[Permissions] ([Id], [Name]) VALUES (N'33988a76-aaed-451e-85d4-069aeb1cf374', N'Genres')
INSERT [dbo].[Permissions] ([Id], [Name]) VALUES (N'34988a76-aaed-451e-85d4-069aeb1cf374', N'Genre')
GO
INSERT [dbo].[Platforms] ([Id], [Type]) VALUES (N'10d9357e-a9a9-4cb1-9779-78e79c426c4e', N'Mobile')
INSERT [dbo].[Platforms] ([Id], [Type]) VALUES (N'626029d0-3aa1-4b49-836d-c98c4f34800e', N'Browser')
INSERT [dbo].[Platforms] ([Id], [Type]) VALUES (N'7a4a8f4e-93dd-4516-95d2-06f6115ecada', N'Console')
GO
INSERT [dbo].[PlatformTranslations] ([Id], [Type], [LanguageId], [PlatformId]) VALUES (N'a1defb45-ac4a-4eb9-a2db-28831d398973', N'Ігрова Консоль', N'fb01f8b4-a73c-4841-a951-a57cce44dee5', N'7a4a8f4e-93dd-4516-95d2-06f6115ecada')
INSERT [dbo].[PlatformTranslations] ([Id], [Type], [LanguageId], [PlatformId]) VALUES (N'e5b766dd-5df3-4566-95a9-863ac9717de4', N'Комп''ютер', N'fb01f8b4-a73c-4841-a951-a57cce44dee5', N'b640fad9-54ee-4d58-9ce1-7c1de6ab1ebf')
GO
INSERT [dbo].[Publishers] ([Id], [SupplierId], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [Country], [Phone], [Fax], [Description], [HomePage]) VALUES (N'e35210a2-4f04-45d6-aa3a-dd7d03914704', NULL, N'GameDevCompany', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'The best game company', N'https://google.com/')
GO
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'069363ee-64a8-4156-859a-87c89ce31e3e', N'32988a76-aaed-451e-85d4-069aeb1cf374')
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'069363ee-64a8-4156-859a-87c89ce31e3e', N'33988a76-aaed-451e-85d4-069aeb1cf374')
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'069363ee-64a8-4156-859a-87c89ce31e3e', N'34988a76-aaed-451e-85d4-069aeb1cf374')
GO
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'069363ee-64a8-4156-859a-87c89ce31e3e', N'Administrator')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'09d91cb4-634d-43ee-ba3b-ea94937297fb', N'Manager')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'158b3e70-558f-4119-bfe6-a50344f55f9e', N'User')
GO
INSERT [dbo].[RoleUser] ([RolesId], [UsersId]) VALUES (N'069363ee-64a8-4156-859a-87c89ce31e3e', N'54c255a2-887a-4627-bb84-6969768aae0f')
INSERT [dbo].[RoleUser] ([RolesId], [UsersId]) VALUES (N'158b3e70-558f-4119-bfe6-a50344f55f9e', N'60d9c712-5a27-494c-93fc-17659c8b959b')
GO
INSERT [dbo].[Users] ([Id], [Name], [Password]) VALUES (N'54c255a2-887a-4627-bb84-6969768aae0f', N'John Doe', N'1234')
INSERT [dbo].[Users] ([Id], [Name], [Password]) VALUES (N'60d9c712-5a27-494c-93fc-17659c8b959b', N'User', N'1234')
GO
ALTER TABLE [dbo].[GenreTranslations] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[BanHistories]  WITH CHECK ADD  CONSTRAINT [FK_BanHistories_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BanHistories] CHECK CONSTRAINT [FK_BanHistories_Users_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Comments_CommentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Games_GameId]
GO
ALTER TABLE [dbo].[GameGenre]  WITH CHECK ADD  CONSTRAINT [FK_GameGenre_Games_GamesId] FOREIGN KEY([GamesId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameGenre] CHECK CONSTRAINT [FK_GameGenre_Games_GamesId]
GO
ALTER TABLE [dbo].[GameGenre]  WITH CHECK ADD  CONSTRAINT [FK_GameGenre_Genres_GenresId] FOREIGN KEY([GenresId])
REFERENCES [dbo].[Genres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameGenre] CHECK CONSTRAINT [FK_GameGenre_Genres_GenresId]
GO
ALTER TABLE [dbo].[GamePlatform]  WITH CHECK ADD  CONSTRAINT [FK_GamePlatform_Games_GamesId] FOREIGN KEY([GamesId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GamePlatform] CHECK CONSTRAINT [FK_GamePlatform_Games_GamesId]
GO
ALTER TABLE [dbo].[GamePlatform]  WITH CHECK ADD  CONSTRAINT [FK_GamePlatform_Platforms_PlatformsId] FOREIGN KEY([PlatformsId])
REFERENCES [dbo].[Platforms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GamePlatform] CHECK CONSTRAINT [FK_GamePlatform_Platforms_PlatformsId]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Publishers_PublisherId] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Publishers_PublisherId]
GO
ALTER TABLE [dbo].[GameTranslations]  WITH CHECK ADD  CONSTRAINT [FK_GameTranslations_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameTranslations] CHECK CONSTRAINT [FK_GameTranslations_Games_GameId]
GO
ALTER TABLE [dbo].[GameTranslations]  WITH CHECK ADD  CONSTRAINT [FK_GameTranslations_Languages_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameTranslations] CHECK CONSTRAINT [FK_GameTranslations_Languages_LanguageId]
GO
ALTER TABLE [dbo].[Genres]  WITH CHECK ADD  CONSTRAINT [FK_Genres_Genres_ParentGenreId] FOREIGN KEY([ParentGenreId])
REFERENCES [dbo].[Genres] ([Id])
GO
ALTER TABLE [dbo].[Genres] CHECK CONSTRAINT [FK_Genres_Genres_ParentGenreId]
GO
ALTER TABLE [dbo].[GenreTranslations]  WITH CHECK ADD  CONSTRAINT [FK_GenreTranslations_Genres_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GenreTranslations] CHECK CONSTRAINT [FK_GenreTranslations_Genres_GenreId]
GO
ALTER TABLE [dbo].[GenreTranslations]  WITH CHECK ADD  CONSTRAINT [FK_GenreTranslations_Languages_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GenreTranslations] CHECK CONSTRAINT [FK_GenreTranslations_Languages_LanguageId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Games_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Games_ProductId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId1] FOREIGN KEY([OrderId1])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId1]
GO
ALTER TABLE [dbo].[PlatformTranslations]  WITH CHECK ADD  CONSTRAINT [FK_PlatformTranslations_Languages_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlatformTranslations] CHECK CONSTRAINT [FK_PlatformTranslations_Languages_LanguageId]
GO
ALTER TABLE [dbo].[PlatformTranslations]  WITH CHECK ADD  CONSTRAINT [FK_PlatformTranslations_Platforms_PlatformId] FOREIGN KEY([PlatformId])
REFERENCES [dbo].[Platforms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlatformTranslations] CHECK CONSTRAINT [FK_PlatformTranslations_Platforms_PlatformId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions_PermissionId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles_RoleId]
GO
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_RoleUser_Roles_RolesId] FOREIGN KEY([RolesId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_RoleUser_Roles_RolesId]
GO
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_RoleUser_Users_UsersId] FOREIGN KEY([UsersId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_RoleUser_Users_UsersId]
GO
